@use '../../variables' as *;

// Default styles that were previously imported
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.liveblog-container {
  font-family: $base-font-family;
}

