@use 'sass:color';
@use '../../variables' as *;
@use '../utils/media' as mq;

.liveblog-event {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.liveblog-event::before,
.liveblog-event:only-child::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: -4.5px;
  width: 10px;
  height: 10px;
  background: $color-grey-light;
  border-radius: 50%;
  transition: background .3s ease-in-out;
}

.liveblog-event::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background: $color-grey-light;
}

.liveblog-event::before,
.liveblog-event::after {
  top: 10px;
}

.liveblog-event:only-child::after {
  display: none;
}

.liveblog-event:not(:only-child):first-child::before,
.liveblog-event:not(:only-child):last-child::before {
  height: 1px;
  border-radius: 0%;
}

.liveblog-event:not(:only-child):last-child::after {
  display: none;
}

.liveblog-event:hover::before {
  background: $color-grey-dark;
  transition: background .3s ease-in-out;
}

.liveblog-event-content {
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
}

.liveblog-key-events {
  position: relative;
  overflow-y: visible;
}

.liveblog-key-events .liveblog-entry-delete-confirm {
  top: 50%;
  transform: #{"translateY(-50%)"};
  margin: 20px auto 20px auto;
  padding: 10px;
  border: 1px solid $color-grey-mid-light;
  width: 90%;
  max-height: 150px;
  z-index: 10;

  p {
    text-align: center;
    font-size: .9rem;
    margin-bottom: 10px;
  }

  @include mq.mq($until: medium) {
    min-height: 130px;
    max-width: 300px;
  }
}

.liveblog-event {
  @include mq.mq($until: medium) {
    font-size: 14px;
  }
}
