@use 'sass:color';
@use '../../variables' as *;
@use '../utils/media' as mq;

.liveblog-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.liveblog-pagination > * {
  display: flex;
  text-align: center;
}

.liveblog-pagination-first,
.liveblog-pagination-last {
  background: $color-grey-mid-light;
  color: $color-grey-x-dark;
}

.liveblog-pagination-pages {
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

.liveblog-pagination-btn, .ampstart-btn {
  background-color: $color-grey-x-dark;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  color: white;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: .5rem 1rem;

  &:hover {
    color: white;
    background: $color-grey-dark;
  }

  &:visited {
    color: white;
  }
}

.ampstart-btn {
  color: #fff;
  background: $color-primary;
  font-size: 16px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  &:hover {
    background: color.adjust($color-primary, $lightness: 10%);
  }
}

.live-list .ampstart-btn {
  display: none;
}

.liveblog-btn--hide {
  visibility: hidden;
}
